$bodyBackgroundColor: #c3cfe2;
$textBackgroundColor: #fff;
$textColor: #555;
$boxShadowColor: #bbb;
$footBackgroundColor: #686de0;
$footBorderColor: #fff;
$h1Color: #fff;
$linkvisitedColor: #b4b4eb;
$hoverColor: #fff;
$activeColor: #000;