* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.default-bgcolor {
    background-color: lightgray;
}

.red-bgcolor {
    background-color: red;
}

.orange-bgcolor {
    background-color: orange;
}

.purple-bgcolor {
    background-color: purple;
}

.green-bgcolor {
    background-color: green;
}

.menu-list-in {
    font-family: sans-serif;
    width: 250px;
    position: relative;
    left: -250px;
    transition: 500ms 500ms ease-in-out;
}

.menu-list-out {
    font-family: sans-serif;
    width: 250px;
    position: relative;
    left: 0px;
    transition: 500ms ease-in-out;
}

.bg-colortext p {
    font: 7.5em sans-serif;
    text-align: center;
    font-style: italic;
    color: white;
}

i:hover,
label:hover {
    cursor: pointer;
}

div {
    transition: 2000ms ease-in-out;
}

p {
    margin-left: 8px;
    font-size: 5em;
    color: #222;
}

li {
    padding: 12px 20px;
    border: 2px solid gray;
    color: white;
}